*, *:before, *:after {
  box-sizing: border-box;}
}

h1 {
  font: bold
  font-size: 4em;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

div {
  float: inherit;
  margin: 1% 0;
  width: 100%;
  padding: 25px;
  display: inline-block;
}

img {
  float: inherit;
  max-width: 100%;
  height: auto;
  margin: 10px;
  padding: 10px;
}

/* code added to create two-column design */
@media screen and (min-width: 481px){
  div {
    margin: 7px;
    width: 286px;
  }
}

h1 {
  font-size: 3em;
}

/* code added to create four-column design */
@media screen and (min-width: 1025px){
  div {
    margin: 5px;
    width: 140px;
  }
}

h1 {
  font-size: 2em;
}
